<main class="container mt-4">
  <h1>Dados do Livro</h1>
  <form (submit)="incluir()" ngNativeValidate>
    <div class="mb-3">
      <label for="titulo" class="form-label">Título</label>
      <input type="text" id="titulo" class="form-control" required [(ngModel)]="livro.titulo" name="titulo" />
    </div>
    <div class="mb-3">
      <label for="resumo" class="form-label">Resumo</label>
      <textarea id="resumo" class="form-control" [(ngModel)]="livro.resumo" name="resumo"></textarea>
    </div>
    <div class="mb-3">
      <label for="editora" class="form-label">Editora</label>
      <select id="editora" class="form-select" required [(ngModel)]="livro.codEditora" name="codEditora">
        <option *ngFor="let editora of editoras" [value]="editora.codEditora">{{ editora.nome }}</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="autores" class="form-label">Autores (1 por linha)</label>
      <textarea id="autores" class="form-control" [(ngModel)]="autoresForm" name="autoresForm"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Salvar Dados</button>
  </form>
</main>
